@section Styles{

}
<div class="hero-wrap js-fullheight w-100" style="background-image: url('/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
			<div class="col-md-11 ftco-animate text-center">
				<h1 class="mb-4">提供最好的給你所愛</h1>
				<p><a href="~/WillyView/ProductIndex" class="btn btn-outline-light mr-md-4 py-3 px-4">更多資訊 <span class="ion-ios-arrow-forward"></span></a></p>
			</div>
		</div>
	</div>
</div>


<section class="ftco-section ftco-no-pt ftco-no-pb">

	<div class="row d-flex no-gutters">
		<div class="col-md-6 d-flex">
			<div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url(/images/about_1.jpg);height:400px">
			</div>
		</div>
		<div class="col-md-6 pl-md-5 py-md-5" style="">
			<div class="heading-section pt-md-5">
				<h2 class="mb-4">寵物商城</h2>
			</div>

			<div class=" services-2 w-100 d-flex">

				<div class="text pl-3">
					<h4>最新的產品，最優惠的價格，最好的品質!</h4>

				</div>
			</div>
			<div class=" services-2 w-100 d-flex">

				<div class="text pl-3">
					<a class="btn btn-sm btn-outline-info" href="~/WillyView/ProductIndex">更多...</a>

				</div>
			</div>


		</div>
	</div>


</section>

<section class="ftco-counter" id="section-counter">
	<div class="container" style="height:50px">
		<div class="row">
			<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">

				<div class="text text-center">
					<strong class="number" data-number="300">0</strong>
				</div>
				<div class="text">
					<span>種商品</span>
				</div>

			</div>
			<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">

				<div class="text text-center">
					<strong class="number" data-number="1000">0</strong>
				</div>
				<div class="text">
					<span>會員</span>
				</div>

			</div>
			<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">

				<div class="text  text-center">
					<strong class="number" data-number="20">0</strong>
				</div>
				<div class="text">
					<span>品項</span>
				</div>

			</div>
			<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">

				<div class="text text-center">
					<strong class="number" data-number="6">0</strong>
				</div>
				<div class="text">
					<span>組員</span>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">

	<div class="row d-flex no-gutters">
		<div class="col-md-6 pl-md-5 py-md-5" style="">
			<div class="heading-section pt-md-5">
				<h2 class="mb-4">認養浪浪</h2>
			</div>

			<div class=" services-2 w-100 d-flex">

				<div class="text pl-3">
					<h4>即時認養資訊，幫助他們找到最溫暖的家!</h4>

				</div>
			</div>
			<div class=" services-2 w-100 d-flex">

				<div class="text pl-3">
					<a class="btn btn-sm btn-outline-info" href="~/PetSite36/AdoptionPage">更多...</a>

				</div>
			</div>


		</div>
		<div class="col-md-6 d-flex">
			<div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url(/images/about_2.jpg);height:400px">
			</div>
		</div>
	</div>
	</div>

</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">

	<div class="row d-flex no-gutters">
		<div class="col-md-6 d-flex">
			<div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url(/images/about_3.jpg);height:400px">
			</div>
		</div>
		<div class="col-md-6 pl-md-5 py-md-5" style="">
			<div class="heading-section pt-md-5">
				<h2 class="mb-4">寵物旅館</h2>
			</div>

			<div class=" services-2 w-100 d-flex">

				<div class="text pl-3">
					<h4>提供最好最完善的寵物照護服務</h4>

				</div>
			</div>
			<div class=" services-2 w-100 d-flex">

				<div class="text pl-3">
					<a class="btn btn-sm btn-outline-info" href="~/Room/Room">更多...</a>

				</div>
			</div>


		</div>
	</div>
	

</section>


<section class="ftco-section testimony-section d-flex" style="background-image: url('/images/about_7.png');">
	<div class="overlay"></div>
	<div class="container">
		<div class="row justify-content-center pb-5 mb-3">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<h2 style="color:white">最新寵物活動</h2>
			</div>
		</div>
		<div class="row ftco-animate">
			<div class="col-md-12">
				<div class="carousel-testimony owl-carousel ftco-owl">
					<div class="item">
						<div class="">
							<div class=" testimony-wrap py-4 img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center " style="background-image: url(/images/layoutevent01.jpg);height:260px; "></div>
						</div>
					</div>
					<div class="item">
						<div class="">
							<div class=" testimony-wrap py-4 img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center " style="background-image: url(/images/layoutevent02.jpg);height:260px; "></div>
						</div>
					</div><div class="item">
						<div class="">
							<div class=" testimony-wrap py-4 img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center " style="background-image: url(/images/layoutevent03.jpg);height:260px; "></div>
						</div>
					</div>
					<div class="item">
						<div class="">
							<div class=" testimony-wrap py-4 img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center " style="background-image: url(/images/layoutevent04.jpg);height:260px; "></div>
						</div>
					</div>
					<div class="item">
						<div class="">
							<div class=" testimony-wrap py-4 img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center " style="background-image: url(/images/layoutevent05.jpg);height:260px; "></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</section>
<section>
	
</section>


@section Scripts{

            }