@section Styles{

}

<div class="container" style="height:500px">
<div class="col-3"> 
</div>
	

<div class="col-6">
	<div style="height:50px"></div>
		<div >
			<h1 style="">信箱驗證成功!!!</h1>
			<h3>請登入帳號!</h3>
		</div>
</div>

<div class="col-3">
</div>
</div>
@section Scripts{
	<script>
		function redirect (){
		setTimeout((()=>window.location.href="LogIn"),3500);};
		redirect();
	</script>
}