@section Styles{

}

<div class="col-1 col-xl-4 col-sm-3"></div>
<form>
	<div class="container col-10 col-sm-6 mt-4 mb-4 col-xl-4" style="" id="app">
		<div style="height:70px"></div>
		<div class="card " style="border-radius:20px">
			<div class="card-body">
				<h2 class="mb-2 text-center m-3">修改密碼</h2>

				<div class="mb-3 ">
					<label for="email" class="form-label">帳號</label>
					<input type="text"
						   class="form-control"
						   id="account"
						   name="email-username"
						   placeholder="請輸入帳號"
						   v-model="account"
						   autofocus />
				</div>
				<div class="mb-3 form-password-toggle">
					<div class="d-flex justify-content-between">
						<label class="form-label" for="oldPassword">舊密碼</label>
					</div>
					<div class="input-group input-group-merge">
						<input type="password"
							   id="oldPassword"
							   class="form-control"
							   name="oldPassword"
							   placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
							   v-model="oldPassword"
							   aria-describedby="password" />

					</div>
				</div>
				<div class="mb-3 form-password-toggle">
					<div class="d-flex justify-content-between">
						<label class="form-label" for="newPassword">新密碼</label>
					</div>
					<div class="input-group input-group-merge">
						<input type="password"
							   id="newPassword"
							   class="form-control"
							   name="newPassword"
							   placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
							   v-model="newPassword"
							   aria-describedby="password" />

					</div>
				</div>
				<div class="mb-3 form-password-toggle">
					<div class="d-flex justify-content-between">
						<label class="form-label" for="password">確認密碼</label>
					</div>
					<div class="input-group input-group-merge">
						<input type="password"
							   id="confirmPassword"
							   class="form-control"
							   name="confirmPassword"
							   placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
							   v-model="confirmPassword"
							   aria-describedby="password" />

					</div>
				</div>



				<br />
				<div class="mb-3 " v-on:mouseenter="validateForm">
					<button class="btn btn-primary  w-100" id="submit" @@click="reset">確認</button>
				</div>
				<br />

				<ul>
					<li v-for="error in errors" class="text-danger">{{error}}</li>
				</ul>

				<br />

			</div>
		</div>
	</div>
</form>
<div class="col-1 col-xl-4 col-sm-3"></div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@section Scripts{
	<script>

		var webApiBaseAddr = "https://localhost:7150"
		var vueApp = {
			data() {
				return {
					account: "",
					oldPassword: "",
					newPassword: "",
					confirmPassword: "",
					errors: [],
				};
			},
			mounted: function () {
				let _this = this;
			},
			methods: {
				reset: function () {
					let _this = this;
					var reseter = {};
					reseter.account = _this.account;
					reseter.oldPassword = _this.oldPassword;
					reseter.newPassword = _this.newPassword;

					axios.post(`${webApiBaseAddr}/api/members/resetPassword`, reseter).then(response => {
						if (response.data == "修改成功") {
							Swal.fire({
								icon: 'success',
								title: `${response.data}`,
								showConfirmButton: false,
								timer: 1500
							})
						}
						else {
							Swal.fire({
								icon: 'error',
								title: `${response.data}`,
								showConfirmButton: false,
								timer: 1500
							})
						}

					}).catch((error) => { console.log(error.response.status) })
				},

				validateForm: function () {
					let _this = this;

					this.errors = [];

					if (this.account == "") {
						this.errors.push("帳號必填!")
					} else {
						let account = this.account;
						let num = account.length;
						var n = /[0-9]/;
						var e = /[a-zA-Z]/;
						var ni = n.test(account);
						var ei = e.test(account);
						if (num < 7 || num > 15 || ni == false || ei == false) {
							this.errors.push("帳號需在8到16字元內且含有英文及數字")
						}
					}

					if (this.oldPassword == "") {
						this.errors.push("舊密碼必填!")
					}
					if (this.newPassword == "") {
						this.errors.push("新密碼必填!")
					} else {
						let password = this.newPassword;
						let num = password.length;
						var n = /[0-9]/;
						var e = /[a-zA-Z]/;
						var ni = n.test(password);
						var ei = e.test(password);
						if (num < 7 || num > 15 || ni == false || ei == false) {
							this.errors.push("密碼需在8到16字元內且含有英文及數字")
						}
					}
					if (this.newPassword != this.confirmPassword) {
						this.errors.push("確認密碼與新密碼不符")
					}
					if (this.errors.length > 0) {
						$("#submit").attr("disabled", true);
					}
					if (this.errors.length == 0) {
						$("#submit").attr("disabled", false);
					}
				}

			}
		}
		var app = Vue.createApp(vueApp).mount("#app");
	</script>
}